/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    max-height: 80vh; /* Limitar a altura do container */
    overflow-y: auto; /* Permitir rolagem vertical */
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056B3;
}

button:focus {
    outline: none;
}

#result {
    margin-top: 20px;
}

.group {
    background-color: #F1F1F1;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.group h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.group ul {
    list-style-type: none;
}

.group ul li {
    font-size: 14px;
    padding: 5px 0;
    color: #555;
}

button#copyBtn {
    background-color: #007BFF;
    margin-top: 10px;
}

button#copyBtn:hover {
    background-color: #0056B3;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    label {
        font-size: 13px;
    }

    input[type="number"], button {
        font-size: 14px;
        padding: 10px;
    }
}